# ==========================================
# 1. DEPENDENCIES (Folder Instalasi Library)
# ==========================================
node_modules
client/node_modules/
server/node_modules/

# ==========================================
# 2. PRODUCTION BUILDS (Hasil Kompilasi)
# ==========================================
client/dist/
server/dist/

# ==========================================
# 3. ENVIRONMENT VARIABLES (Data Rahasia)
# ==========================================
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# ==========================================
# 4. LOGS (Catatan Error/Sistem)
# ==========================================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==========================================
# 5. OS & EDITOR FILES (Sistem Operasi & Aplikasi)
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/
