# drizzle-pg-starter environment variables

LOG_LEVEL='log_level'

NODE_ENV='node_env'

PORT='port'

CORS_ORIGIN='cors_origin'

DATABASE_URL='database_url'

# Auth
JWT_SECRET='jwt_access_secret_min_16_chars'
REFRESH_SECRET='jwt_refresh_secret_min_16_chars'
JWT_ACCESS_TOKEN_EXPIRES_IN='15m'
JWT_REFRESH_TOKEN_EXPIRES_IN='7d'
BCRYPT_SALT_ROUNDS='10'
